.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputBase {
  margin: 4px auto;
  padding: 10px;
  border: 1px;
  border-color: #2c3e50;
  border-radius: 25px;
  font-size: 1rem;
  color: #2c3e50;
  outline: 0;
  min-width: 70%;
  display: block;
}

.button {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  min-width: 70%;
  max-width: 70%;
  background-color: #b1d3d9;
  display: block;
}
